html {
    font-family: Consolas;
}

button {
    font-family: Consolas;
}

header {
    border-radius: 5px;
    display: grid;
    background-color: rgb(255, 80, 80);
    text-decoration: none;
    padding: 10px;
    margin-bottom: 20px;
}

div {
    margin: 0;
    padding: 0;
}

.darkButton {
    background-color: rgb(30, 30, 30);
    color: white;
}

.darkTheme {
    background-color: rgb(30, 30, 30);
}

.darkTheme label {
    color: white;
}

.lightTheme {
    background-color: rgb(255, 255, 255);
}

.lightTheme label {
    color: black;
}

.container {
    margin: auto;
}

.headerMenu {
    justify-self: end;
}

.brightRedSection {
    background-color: rgb(255, 80, 80);
    padding: 5px;
    margin: 5px;
    width: fit-content;
    border-radius: 2px;
}

.darkRedSection {
    background-color: rgb(130, 10, 10);
    padding: 5px;
    margin: 5px;
    width: fit-content;
    border-radius: 2px;
}

.brightRedSection label {
    color: black;
}

.courseTable, tr, th, td{
    border: 4px solid rgb(130, 10, 10);
    border-collapse: collapse;
}